{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/css/core.css' %}">
    <title>Home</title>
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="header_line">
                <div class="goods">


                    <h1 class="goods_list">Список товаров:</h1>
                    <ol>
                        {% for good in goods %}
                            <form method='post' action="{% url 'add_good' good.id %}">
                                {% csrf_token %}
                                <ul><a href="{% url 'info' good.id %}">{{ good.name }}</a></ul>
                                <button type="submit">Добавить в корзину</button>
                            </form>
                        {% endfor %}
                    </ol>


                    <div class="cart">
                        <a href="cart">
                            sddddvs
                        </a>
                    </div>

                </div>




            </div>
        </div>
    </div>



</body>
</html>
