body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.container {
    margin: 0px 166px;
}

.goods {
    text-align: center;
}

.header {
    background-image: url(bg.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.header_line {
    padding-top: 50px;
    display: flex;
    text-align: center;
}

.goods_list {
    color: white;
}

.cart {
    position: relative;
    padding-right: 10px;
    height: 50px;
}

.cart_img {
    position: absolute;
    top: 18px;
    right: 80px;
}
